langchain>=0.2.0
langchain-community>=0.2.0
langchain-experimental
langchain-huggingface
faiss-cpu
pandas
requests
openai
sentence-transformers
tf-keras
fastapi
pydantic
uvicorn
streamlit
requests
tabulate